<div class="row">
    <div class="col-md-12">
        <nb-card>
        <nb-card-header>Using the Grid</nb-card-header>
        <nb-card-body>
        <div *ngFor="let temp of dataList">
            <div class="form-group row" *ngIf="temp.isView">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <label>{{temp.name}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Age</label>
                <div class="col-sm-9">
                    <label>{{temp.age}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                    <label>{{temp.gender}}</label>
                </div>
            </div>
        </div>
        </nb-card-body>
        </nb-card>
    </div>
    
</div>