<div class="row">
    <div class="col-md-12">
        <nb-card>
        <nb-card-header>Upload File</nb-card-header>
        <nb-card-body>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">File Attachment</label>
                <div class="col-sm-10">
                <input required type="file"
                 id="inputFileAttachment" class="form-control"
                  (change)="upload($event)">
                </div>
            </div>
        </nb-card-body>
        </nb-card>
    </div>
</div>