<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Event Handling</nb-card-header>
      <nb-card-body>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input [(ngModel)]="name" type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
              <input [(ngModel)]="age" type="number" class="form-control" id="inputAge">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">Gender</label>
            <div class="col-sm-10">
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="gender" [(ngModel)]="gender" value="Male">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Male</span>
                </label>
              </div>
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="gender" [(ngModel)]="gender" value="Female">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Female</span>
                </label>
              </div>
            </div>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Result [(ngModel)]</nb-card-header>
      <nb-card-body>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-10">
              <span class="space-style">:</span>
              {{name}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Age</label>
            <div class="col-sm-10">
              <span class="space-style">:</span>
              {{age}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Gender</label>
            <div class="col-sm-10">
              <span class="space-style">:</span>
              {{gender}}
            </div>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
